body {
    font-family: Verdana, Arial, sans-serif;
    margin:0;
}

/** Styling for the header **/
.navbar{
    display:flex;
    padding-bottom:5px;
    background-color: #ffffff;
    justify-content:start;
    align-items: center;
}

.navbar__title-link{
    text-decoration: none;
}
.navbar__title{
    font-size:1rem;
    color: #335576;
    padding-left:3.75rem;
}

.navbar__list{
    list-style-type: none;
    margin-left: auto;
    margin-right:3.75rem;
}

.navbar__item{
    display:inline;
    margin-right:0.938rem;
    font-size:0.875rem;
}

.navbar__link{
    text-decoration: none;
    color:black;
}
.navbar__item--current{
    padding-bottom:0.625rem;
    border-bottom: 0.188rem solid #DB7A4E;
}

/** Styling for the footer **/

.footer{
    display: flex;
    padding:1.875rem 0 1.875rem 0;
    background-color: #FEFAF5;
    justify-content: center;
}

.contact__sub-heading{
    padding-top:0.625rem;
}

.contact{
    padding-left:2.5rem;
}

.hours{
    display: flex;
    flex-wrap: wrap;
    padding-left:6.875rem;
    width:40%;
}

.social{
    padding-left:2.5rem;
}

.hours div{
    padding-right:3.75rem;
}

.hours__header{
    width:100%;
}

.contact__header, .hours__header, .social__header{
    color:#335576;
    font-size: 1.25rem;
}

.contact__sub-heading, .hours__sub-heading, .social__sub-heading{
    color:#DB7A4E;
    font-size:0.563rem;
    font-weight:100;
}

.contact__content, .hours__content, .social__content{
    color:#335576;
    font-size:0.813rem;
    font-weight:100;
}

.social__icon{
    width:auto;
    height:1.25rem;
    padding-top:1.875rem;
    padding-right: 1.875rem;
}